{
    "com.apple.Bridge" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Bridge.app/";
        CFBundleDisplayName = Watch;
        CFBundleExecutable = Bridge;
        CFBundleIdentifier = "com.apple.Bridge";
        CFBundleName = Watch;
        CFBundleVersion = "1.0";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/8685E2F0-D75B-4DF1-BAA7-027B791B28C4/";
        GroupContainers =         {
            "243LU875E5.groups.com.apple.podcasts" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/82029677-8D50-466F-9466-639176BAC550/";
            "group.com.apple.bridge" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/A9702B82-28C9-4889-8952-279629495F0A/";
            "group.com.apple.iBooks" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/9DAC4E5E-F295-4453-A397-AE64715A1CCB/";
            "group.com.apple.icloud.findmydevice.shared-configuration" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/240F53EA-FBB0-43E7-840A-B0EFE62C0AD8/";
            "group.com.apple.mail" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/3278A4FE-47C4-46CD-AE08-035362CEAE8C/";
            "group.com.apple.stocks" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/AC57E41C-F54E-4E89-B640-38E83EC72D4C/";
            "group.com.apple.weather" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/99823B30-EF9D-4F71-8D3B-57DF20FAB910/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Bridge.app";
        SBAppTags =         (
            "watch-companion"
        );
    };
    "com.apple.DocumentsApp" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Files.app/";
        CFBundleDisplayName = Files;
        CFBundleExecutable = Files;
        CFBundleIdentifier = "com.apple.DocumentsApp";
        CFBundleName = Files;
        CFBundleVersion = "337.6.4";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/2F16E930-E6A8-4570-BD18-BB62AEAE8393/";
        GroupContainers =         {
            "group.com.apple.DocumentManager" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/C9BA8A81-8215-4432-8081-9C80192C66A7/";
            "group.com.apple.FileProvider.LocalStorage" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/46E08B31-79F9-40AC-8162-2B8D6F400C20/";
            "group.com.apple.tipsnext" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/6F99BC1C-468A-4E73-8B40-279A5E2E02C3/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Files.app";
        SBAppTags =         (
        );
    };
    "com.apple.Fitness" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Fitness.app/";
        CFBundleDisplayName = Fitness;
        CFBundleExecutable = Fitness;
        CFBundleIdentifier = "com.apple.Fitness";
        CFBundleName = Fitness;
        CFBundleVersion = "1.0";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/C5B092CD-BBDF-4158-A18A-5E1C41CF11E8/";
        GroupContainers =         {
            "group.com.apple.Fitness" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/03BF04BD-212B-4502-B83D-A5D0228BB103/";
            "group.com.apple.weather" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/99823B30-EF9D-4F71-8D3B-57DF20FAB910/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Fitness.app";
        SBAppTags =         (
        );
    };
    "com.apple.Health" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Health.app/";
        CFBundleDisplayName = Health;
        CFBundleExecutable = Health;
        CFBundleIdentifier = "com.apple.Health";
        CFBundleName = Health;
        CFBundleVersion = "5200.6.5";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/04734025-5E1B-4B5E-8299-AF56EE701FD6/";
        GroupContainers =         {
            "group.com.apple.Health" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/567A5930-4883-4BA6-9451-EC55CF6A6B21/";
            "group.com.apple.ip.redirects" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/EB4406B4-2075-4CAC-93ED-A60F5B882B0E/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Health.app";
        SBAppTags =         (
        );
    };
    "com.apple.Maps" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Maps.app/";
        CFBundleDisplayName = Maps;
        CFBundleExecutable = Maps;
        CFBundleIdentifier = "com.apple.Maps";
        CFBundleName = Maps;
        CFBundleVersion = "2864.36.4.18.4";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/117CF1B4-C9EB-4EF0-AE6C-011940D125BE/";
        GroupContainers =         {
            "group.com.apple.Maps" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/96BFC119-9682-4750-ABDB-E2FAC7E4B8A2/";
            "group.com.apple.weather.internal" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/99AD0066-B477-4DC3-B532-29C61ADCBD03/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Maps.app";
        SBAppTags =         (
        );
    };
    "com.apple.MobileAddressBook" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Contacts.app/";
        CFBundleDisplayName = Contacts;
        CFBundleExecutable = Contacts;
        CFBundleIdentifier = "com.apple.MobileAddressBook";
        CFBundleName = Contacts;
        CFBundleVersion = "1.0";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/96A42F71-4703-47A2-9CD8-1FC955349F37/";
        GroupContainers =         {
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Contacts.app";
        SBAppTags =         (
            "stand-alone-contacts"
        );
    };
    "com.apple.MobileSMS" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileSMS.app/";
        CFBundleDisplayName = Messages;
        CFBundleExecutable = MobileSMS;
        CFBundleIdentifier = "com.apple.MobileSMS";
        CFBundleName = MobileSMS;
        CFBundleVersion = "1402.700.63.2.1";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/A3EB45C0-1899-4EC4-843C-A235134A056E/";
        GroupContainers =         {
            "group.com.apple.PegasusConfiguration" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/4CC2C4A4-D8A9-4CBC-8AEC-795D014EFA40/";
            "group.com.apple.hashtagImages" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/D2B32E87-6794-408F-A155-01D4997811C7/";
            "group.com.apple.mobileslideshow.PhotosFileProvider" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/B29A5C95-86C1-48DA-8373-487D70177261/";
            "group.com.apple.safari" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/7D3AF289-35FA-448B-912A-39F5DD487643/";
            "group.com.apple.tipsnext" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/6F99BC1C-468A-4E73-8B40-279A5E2E02C3/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileSMS.app";
        SBAppTags =         (
        );
    };
    "com.apple.Passbook" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Passbook.app/";
        CFBundleDisplayName = Wallet;
        CFBundleExecutable = Passbook;
        CFBundleIdentifier = "com.apple.Passbook";
        CFBundleName = Wallet;
        CFBundleVersion = "1591.7.3";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/84B6DEF5-88E7-4128-ADBA-4427DE68E912/";
        GroupContainers =         {
            "com.apple.CoreODI" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/CB0C9351-5B1E-4BE4-AC72-BF8C7568C17D/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Passbook.app";
        SBAppTags =         (
        );
    };
    "com.apple.Passwords" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Passwords.app/";
        CFBundleDisplayName = Passwords;
        CFBundleExecutable = Passwords;
        CFBundleIdentifier = "com.apple.Passwords";
        CFBundleName = Passwords;
        CFBundleVersion = "8621.3.11.10.3";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/35654F54-B40D-4221-8B1E-DC798700FA54/";
        GroupContainers =         {
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Passwords.app";
        SBAppTags =         (
        );
    };
    "com.apple.Preferences" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Preferences.app/";
        CFBundleDisplayName = Settings;
        CFBundleExecutable = Preferences;
        CFBundleIdentifier = "com.apple.Preferences";
        CFBundleName = Settings;
        CFBundleVersion = "1308.5.1";
        GroupContainers =         {
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Preferences.app";
        SBAppTags =         (
        );
    };
    "com.apple.PreviewShell" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/PreviewShell.app/";
        CFBundleDisplayName = "Xcode Previews";
        CFBundleExecutable = PreviewShell;
        CFBundleIdentifier = "com.apple.PreviewShell";
        CFBundleName = "Xcode Previews";
        CFBundleVersion = "22.40.1";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/FD1AE61F-B958-490C-A8BA-B76D1E94E7B2/";
        GroupContainers =         {
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/PreviewShell.app";
        SBAppTags =         (
        );
    };
    "com.apple.mobilecal" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileCal.app/";
        CFBundleDisplayName = Calendar;
        CFBundleExecutable = MobileCal;
        CFBundleIdentifier = "com.apple.mobilecal";
        CFBundleName = MobileCal;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/83E683D6-A761-4016-8C47-85C4B682BA95/";
        GroupContainers =         {
            "group.com.apple.reminders" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/57BF338A-6334-4EFB-9CA8-5C50DF2C258C/";
            "group.com.apple.tipsnext" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/6F99BC1C-468A-4E73-8B40-279A5E2E02C3/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileCal.app";
        SBAppTags =         (
        );
    };
    "com.apple.mobilesafari" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileSafari.app/";
        CFBundleDisplayName = Safari;
        CFBundleExecutable = MobileSafari;
        CFBundleIdentifier = "com.apple.mobilesafari";
        CFBundleName = MobileSafari;
        CFBundleVersion = "8621.3.11.10.3";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/8BF9DBF0-18AD-42EA-86E5-17044205956B/";
        GroupContainers =         {
            "group.com.apple.sports" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/079503AB-39B8-4ABA-85C6-DA402787041C/";
            "group.com.apple.tipsnext" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/6F99BC1C-468A-4E73-8B40-279A5E2E02C3/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileSafari.app";
        SBAppTags =         (
        );
    };
    "com.apple.mobileslideshow" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Photos.app/";
        CFBundleDisplayName = Photos;
        CFBundleExecutable = Photos;
        CFBundleIdentifier = "com.apple.mobileslideshow";
        CFBundleName = Photos;
        CFBundleVersion = "770.0.170";
        GroupContainers =         {
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Photos.app";
        SBAppTags =         (
        );
    };
    "com.apple.news" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/News.app/";
        CFBundleDisplayName = News;
        CFBundleExecutable = News;
        CFBundleIdentifier = "com.apple.news";
        CFBundleName = News;
        CFBundleVersion = 5698;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/CF3C76EF-CA13-401F-8F68-D6F0CD422B16/";
        GroupContainers =         {
            "group.com.apple.news" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/7483553F-343D-4976-8D91-CC2DBE0075DB/";
            "group.com.apple.newsd" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/E6CB94FB-B91A-4BAB-BE11-DB4C96164A63/";
            "group.com.apple.stocks-news" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/0C37415A-293E-40C3-AF6A-89DF46499F7D/";
            "group.com.apple.weather" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/99823B30-EF9D-4F71-8D3B-57DF20FAB910/";
            "group.tvappservices.container" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/18B4A0E9-502A-4D7E-82D4-F2B7A9135646/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/News.app";
        SBAppTags =         (
        );
    };
    "com.apple.reminders" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Reminders.app/";
        CFBundleDisplayName = Reminders;
        CFBundleExecutable = Reminders;
        CFBundleIdentifier = "com.apple.reminders";
        CFBundleName = Reminders;
        CFBundleVersion = 3740;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/E92C7D16-552B-4BCD-A0DA-B72C034106A6/";
        GroupContainers =         {
            "group.com.apple.reminders" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/57BF338A-6334-4EFB-9CA8-5C50DF2C258C/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Reminders.app";
        SBAppTags =         (
        );
    };
    "com.apple.shortcuts" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Shortcuts.app/";
        CFBundleDisplayName = Shortcuts;
        CFBundleExecutable = Shortcuts;
        CFBundleIdentifier = "com.apple.shortcuts";
        CFBundleName = Shortcuts;
        CFBundleVersion = "3612.0.2.1";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/F4F07181-B14D-4F66-B923-28A57ED7AE0A/";
        GroupContainers =         {
            "group.com.apple.shortcuts" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/436A14E9-0320-4FA1-B9C9-4AEBF9CE8A38/";
            "group.com.apple.tipsnext" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/6F99BC1C-468A-4E73-8B40-279A5E2E02C3/";
            "group.is.workflow.my.app" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/19C01F29-49D7-40BF-8690-4DDC9F9E1CA9/";
            "group.is.workflow.shortcuts" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/16B1C03F-9D7F-4A01-BF39-B050206FB105/";
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Shortcuts.app";
        SBAppTags =         (
        );
    };
    "com.apple.webapp" =     {
        ApplicationType = System;
        Bundle = "file:///Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS%2018.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Web.app/";
        CFBundleDisplayName = Web;
        CFBundleExecutable = Web;
        CFBundleIdentifier = "com.apple.webapp";
        CFBundleName = Web;
        CFBundleVersion = "8621.3.11.10.3";
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/FEFB3644-9E7F-45D8-922B-069083E6EC5D/";
        GroupContainers =         {
        };
        Path = "/Library/Developer/CoreSimulator/Volumes/iOS_22G86/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 18.6.simruntime/Contents/Resources/RuntimeRoot/Applications/Web.app";
        SBAppTags =         (
        );
    };
    "com.example.FlexibleFlowApp" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/5C9FC4F9-F2A7-4336-A0E6-BD0B8757E999/FlexibleFlowApp.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/5C9FC4F9-F2A7-4336-A0E6-BD0B8757E999/";
        CFBundleDisplayName = FlexibleFlowApp;
        CFBundleExecutable = FlexibleFlowApp;
        CFBundleIdentifier = "com.example.FlexibleFlowApp";
        CFBundleName = FlexibleFlowApp;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/3B671804-466A-4531-AC1E-56BD2A52A115/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/5C9FC4F9-F2A7-4336-A0E6-BD0B8757E999/FlexibleFlowApp.app";
        SBAppTags =         (
        );
    };
    "com.example.FlexibleFlowSwiftUI" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/07408CB8-8B19-4CC3-954A-7DB635DE9104/FlexibleFlowSwiftUI.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/07408CB8-8B19-4CC3-954A-7DB635DE9104/";
        CFBundleDisplayName = FlexibleFlowSwiftUI;
        CFBundleExecutable = FlexibleFlowSwiftUI;
        CFBundleIdentifier = "com.example.FlexibleFlowSwiftUI";
        CFBundleName = FlexibleFlowSwiftUI;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/44637611-FA53-4614-B3D6-38A8ED2CF192/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/07408CB8-8B19-4CC3-954A-7DB635DE9104/FlexibleFlowSwiftUI.app";
        SBAppTags =         (
        );
    };
    "com.speechify.SwiftUIChallenge" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/33E2EB24-EE6A-4027-8104-8AF3C9BF1395/SwiftUIChallenge.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/33E2EB24-EE6A-4027-8104-8AF3C9BF1395/";
        CFBundleDisplayName = SwiftUIChallenge;
        CFBundleExecutable = SwiftUIChallenge;
        CFBundleIdentifier = "com.speechify.SwiftUIChallenge";
        CFBundleName = SwiftUIChallenge;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/8B56C1FA-D4E8-4996-A32F-CC90ED4E60DF/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/33E2EB24-EE6A-4027-8104-8AF3C9BF1395/SwiftUIChallenge.app";
        SBAppTags =         (
        );
    };
    "de.postando.postando" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/9C0DCF76-7700-4AAF-82E2-E4EE0B6549BD/Postando.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/9C0DCF76-7700-4AAF-82E2-E4EE0B6549BD/";
        CFBundleDisplayName = Postando;
        CFBundleExecutable = Postando;
        CFBundleIdentifier = "de.postando.postando";
        CFBundleName = Postando;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/38D9F42E-1835-48BD-8008-ECFAE30D715B/";
        GroupContainers =         {
            "group.de.postando.postando" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/4F8BCB43-0649-4272-817C-A75970051067/";
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/9C0DCF76-7700-4AAF-82E2-E4EE0B6549BD/Postando.app";
        SBAppTags =         (
        );
    };
    "ro.cst.TVApp" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/3A668D12-8638-4589-9AC8-4475EE4C67F5/TVApp.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/3A668D12-8638-4589-9AC8-4475EE4C67F5/";
        CFBundleDisplayName = "TV App";
        CFBundleExecutable = TVApp;
        CFBundleIdentifier = "ro.cst.TVApp";
        CFBundleName = TVApp;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/32E1083F-C014-4799-9FF5-9164677105B7/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/3A668D12-8638-4589-9AC8-4475EE4C67F5/TVApp.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.2048game" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/21A9B6A8-E5F8-4BEC-8F87-AA5492FC0D22/2048.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/21A9B6A8-E5F8-4BEC-8F87-AA5492FC0D22/";
        CFBundleDisplayName = 2048;
        CFBundleExecutable = 2048;
        CFBundleIdentifier = "ro.randusoft.2048game";
        CFBundleName = 2048;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/D9220BDC-D25B-4172-A467-B5BE6C46FE76/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/21A9B6A8-E5F8-4BEC-8F87-AA5492FC0D22/2048.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.ParamedicProtocols" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/B7E13D0E-3132-4E8A-AC2C-9566095DD6D3/ParamedicProtocols.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/B7E13D0E-3132-4E8A-AC2C-9566095DD6D3/";
        CFBundleDisplayName = Protocols;
        CFBundleExecutable = ParamedicProtocols;
        CFBundleIdentifier = "ro.randusoft.ParamedicProtocols";
        CFBundleName = ParamedicProtocols;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/B9AD1B57-A70A-4074-BA18-D29343B49CB6/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/B7E13D0E-3132-4E8A-AC2C-9566095DD6D3/ParamedicProtocols.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.PasswordGame" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/74A5EFFB-CF41-46AB-A2E7-146D154FF230/PasswordGame.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/74A5EFFB-CF41-46AB-A2E7-146D154FF230/";
        CFBundleDisplayName = PasswordGame;
        CFBundleExecutable = PasswordGame;
        CFBundleIdentifier = "ro.randusoft.PasswordGame";
        CFBundleName = PasswordGame;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/9FDF2F1C-CC54-401A-B300-FD4FF988F7BA/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/74A5EFFB-CF41-46AB-A2E7-146D154FF230/PasswordGame.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.TVShowTracker" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/E899009A-C6F0-4080-81E0-DFA0DAE72D22/TVShowTracker.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/E899009A-C6F0-4080-81E0-DFA0DAE72D22/";
        CFBundleDisplayName = "TV Shows";
        CFBundleExecutable = TVShowTracker;
        CFBundleIdentifier = "ro.randusoft.TVShowTracker";
        CFBundleName = TVShowTracker;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/390C39B4-EE2D-4E36-860E-5EAC306C49F9/";
        GroupContainers =         {
            "group.ro.randusoft.TVShowTracker" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/98FEF96D-62FA-4720-ACC1-CC93E52BE63C/";
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/E899009A-C6F0-4080-81E0-DFA0DAE72D22/TVShowTracker.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.blackjack" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/2B929DCC-90E9-4A34-8FBB-A484E20C6321/Blackjack.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/2B929DCC-90E9-4A34-8FBB-A484E20C6321/";
        CFBundleDisplayName = Blackjack;
        CFBundleExecutable = Blackjack;
        CFBundleIdentifier = "ro.randusoft.blackjack";
        CFBundleName = Blackjack;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/6FD0F641-EC55-4CB7-9C0E-497F8E61B91C/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/2B929DCC-90E9-4A34-8FBB-A484E20C6321/Blackjack.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.sales" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/F87FB8C1-F3FF-4FA7-B272-D295EE5A5F7E/AppSales.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/F87FB8C1-F3FF-4FA7-B272-D295EE5A5F7E/";
        CFBundleDisplayName = AppSales;
        CFBundleExecutable = AppSales;
        CFBundleIdentifier = "ro.randusoft.sales";
        CFBundleName = AppSales;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/EF9481DC-708D-4ED0-B6BB-7F73AD35B2B4/";
        GroupContainers =         {
            "group.ro.randusoft.sales" = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Shared/AppGroup/E0F75F36-7DB9-43FA-9D2E-8B802528B2F0/";
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/F87FB8C1-F3FF-4FA7-B272-D295EE5A5F7E/AppSales.app";
        SBAppTags =         (
        );
    };
    "ro.randusoft.testapp" =     {
        ApplicationType = User;
        Bundle = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/28FF8E7D-2947-4215-AC4C-46F4D7861B8F/demo.app/";
        BundleContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/28FF8E7D-2947-4215-AC4C-46F4D7861B8F/";
        CFBundleDisplayName = "RS Demo";
        CFBundleExecutable = demo;
        CFBundleIdentifier = "ro.randusoft.testapp";
        CFBundleName = demo;
        CFBundleVersion = 1;
        DataContainer = "file:///Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Data/Application/4DDC0D63-4D6A-4166-911A-508E1C877B68/";
        GroupContainers =         {
        };
        Path = "/Users/radu/Library/Developer/CoreSimulator/Devices/A068E1D9-97CB-49B9-B0C3-3CF6818A06BC/data/Containers/Bundle/Application/28FF8E7D-2947-4215-AC4C-46F4D7861B8F/demo.app";
        SBAppTags =         (
        );
    };
}
